services:  # A Docker web service
  - type: web
    name: fastapi-example
    runtime: python
    plan: free
    autoDeploy: false
    buildCommand: ./build.sh
    startCommand: uvicorn test:app --host 0.0.0.0 --port $PORT
 