<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>FastAPI Static Test</title>
  <!-- url_for uses the "static" mount name -->
  <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>
<body>
  <div class="container">
  {%if company == "atlas"%}
      <div class="box1">
        <img src = "{{url_for('static',path='images/'+company+'.png')}}",alt="{{company}}">
      </div>
      <div class = "box2">
        {% for item in details %}
          {% if item["title"] == src_title %}
            <h2>{{item["title"]}}</h2>
            <ul>{{item["description"]}}</ul>
          {%endif%}
        {%endfor%}
      </div>
  {%elif company in ["acme","bcg"]%}
      <div class="box1">
        <img src = "{{url_for('static',path='images/'+company+'.png')}}",alt="{{company}}">
      </div>
      <div class = "box2">
        {% for item in details %}
          <h2>{{item["title"]}}</h2>
        {%endfor%}
      </div>
  {%else%}
      <div id="modalOverlay" class="modal-overlay">
        <div class="modal">
            <h2>Company Not Found</h2>
            <p>No matching company. Please check again.</p>
            <button onclick="closeModal()">Close</button>
        </div>
      </div>

      <script>
          const modal = document.getElementById("modalOverlay");

          function openModal() {
              modal.style.display = "flex";
          }

          function closeModal() {
            // modal.style.display = "none";
            window.location.href = "{{ url_for('home') }}";

          }

          window.onload = function () {
              openModal();
          };
      </script>

      <style>
          .modal-overlay {
              display: none;
              position: fixed;
              inset: 0;
              background: rgba(0, 0, 0, 0.5);
              justify-content: center;
              align-items: center;
              z-index: 999;
          }
          .modal {
              background: white;
              padding: 20px;
              width: 350px;
              border-radius: 10px;
              box-shadow: 0 5px 15px rgba(0,0,0,0.3);
          }
      </style>
  {%endif%}
    </div>
</body>
</html>